.card {
  margin: 0 1.5vw 1.5vw 0;
  height: min-content;
}
/* @media only screen and (max-width: 480px) {
  .card {
    width: 100% !important;
  }
}

@media only screen and (max-width: 575px) and (min-width: 481px) {
  .card {
    width: 45vw !important;
  }
}

@media only screen and (max-width: 996px) and (min-width: 576px) {
  .card {
    width: 27vw !important;
  }
} */
